<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="preferExternal">
	<!-- 기존 권한들 -->
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" /> <!-- 네트워크 상태 확인 권한 추가 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:smallScreens="true" />

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.gamepad"
		android:required="false" />

	<application
		android:allowBackup="false"
		android:allowClearUserData="true"
		android:banner="@drawable/banner"
		android:hardwareAccelerated="true"
		android:hasFragileUserData="true"
		android:icon="@mipmap/ic_launcher"
		android:isGame="true"
		android:label="@string/app_name"
		android:maxSdkVersion="29"
		android:requestLegacyExternalStorage="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">

		<!-- AdMob App ID 추가 -->
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-7292860375896480~6828633894" />

		<activity
			android:name="com.ingcorp.webhard.MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:launchMode="singleTask"
			android:windowSoftInputMode="stateAlwaysHidden"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="tv.ouya.intent.category.GAME"/>
				<!--            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/zip" />
			</intent-filter>
		</activity>

		<!-- 스플래시 액티비티 - 메인 런처로 설정 -->
		<activity
			android:name=".SplashActivity"
			android:exported="true"
			android:launchMode="singleTop"
			android:screenOrientation="portrait"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- 메인 MAME4droid 액티비티 - 런처 제거 -->
		<activity
			android:name=".MAME4droid"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:launchMode="singleTask"
			android:theme="@style/Theme.MAME4droid"
			android:windowSoftInputMode="stateAlwaysHidden">

			<!-- 파일 연결 인텐트 필터 -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="application/zip" />
				<data android:mimeType="application/x-7z-compressed" />
				<data
					android:host="*"
					android:maxSdkVersion="23"
					android:scheme="file" />
				<data
					android:host="*"
					android:scheme="content" />
			</intent-filter>
		</activity>

		<!-- 기존 액티비티들 -->
		<activity
			android:name=".prefs.UserPreferences"
			android:label="MAME4droid Settings"
			android:theme="@style/Theme.MAME4droid.TitleBar" />
		<activity
			android:name=".WebHelpActivity"
			android:label="MAME4droid Help"
			android:launchMode="singleTop"
			android:theme="@style/Theme.MAME4droid.TitleBar" />
		<activity
			android:name=".prefs.DefineKeys"
			android:label="MAME4droid Define Keys"
			android:theme="@style/Theme.MAME4droid.TitleBar" />
		<activity
			android:name=".prefs.ListKeys"
			android:label="MAME4droid Player Keys"
			android:theme="@style/Theme.MAME4droid.TitleBar" />
		<activity
			android:name=".prefs.KeySelect"
			android:label="Select Key"
			android:theme="@android:style/Theme.Dialog" />
	</application>

</manifest>